@page "/"
@using GLManager.Frontend.Clients
@using GLManager.Frontend.Models

<PageTitle>GL Manager</PageTitle>

@code{
    private EventoClient eventoClient = new();
    private Evento[]? eventos;

    protected override void OnInitialized()
    {
        eventos = eventoClient.getEventos();
    }
}

@{
    if(eventos is null){
        <h1>Não há eventos novos.</h1>
    }else{
        <table class="table table-bordered table-striped table-hover mt-3">
            <thead class="table-dark">
                <tr>
                    <th>Evento</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var evento in eventos){
                        <tr>
                            <td>@evento.Nome</td>
                            <td>@evento.DataEvento.ToString("dd/MM/yyyy")</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
}
